.friendreq{
    margin-top: 15px;
    width: 100%;
    border-radius: 20px;
    height: 370px;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 10px;
    overflow-y: auto;
}

.friendreq .frnd-header h4{
    font-family: var(--primary-font); 
    font-size: 17px;
    font-weight: 600;
    color: var(--black) !important;
}

.frndreq-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.frndreq-wrapper:last-child{
    border-bottom: none;
}

.frndreq-images{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: bisque; 
}

.frndreq-name{
    width: 60%;
}

.frndreq-name h5{
    font-family: var(--primary-font);
    font-size: 13px;
    font-weight: 600;
    color: var(--black);
}

.frndreq-btns{
    width: 20%;
}

.frndreq-btns button{
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 5px;
    background-color: var(--blue);
    font-family: var(--primary-font);
    font-size: 13px;
    font-weight: 400;
    color: var(--white);
}

.frndreq-btns button:last-child{
    background-color: var(--btn);
    margin-top: 5px;
}